
<!--Basing this jquery on this article on StackOverflow https://stackoverflow.com/questions/15347628/proper-place-to-load-jquery-in-mvc-layout-view-->
@section Scripts {
    <script type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"> </script>

<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js">
</script>

<script src="script8.js">
</script>
      
   
}
@{
    ViewBag.Title = "Index";
}

<h2>About Us</h2>

<main>

    <h2>Click on the heading below to see more about us</h2>
    <div id="accordion">
        <h4 class="question">Who are BadCat Records?</h4>
        <p class="answer">
            BadCat Records are Aodh O'Sullivan, Graham Ó Laoi &amp; Ultan Gannon.
        </p>

        <h4 class="question">Where is BadCat Records located?</h4>
        <p class="answer">

            BadCat Records is Located in Dublin Ireland.
            Full directions to the BadCatCave can be found on our
            @Html.ActionLink("Contact Us", "Index", "Contact")
                 page.
        </p>

        <h4 class="question">What type of artists does BadCat Records publish?</h4>
        <p class="answer">
            BadCat Records specialises in electronic artists and DJs.
            More information on BadCat's artists can be found on our
            @Html.ActionLink("Artist", "Index", "Artist") &amp; 
            @Html.ActionLink("Tracks", "Index", "Tracks")
            pages.
        </p>

        <h4 class="question">Where can I buy BadCat records?</h4>
        <p class="answer">
            You can buy BadCat records from our
            @Html.ActionLink("Shop", "Index", "Shop")
            page.
        </p>

        

        <h4 class="question">How do I contact BadCat records?</h4>
        <p class="answer">
            You can contact BadCat records from our
            @Html.ActionLink("Contact Us", "Index", "Contact")
            page.
        </p>

    </div>


</main>
